# 🔐 SEGURANÇA

credentials.txt
.env
.env.local
*.log

# 🐍 PYTHON

__pycache__/
*.pyc
venv/
.venv/
.pytest_cache/

# ⚛️ REACT / NODE 

node_modules/
base-app/node_modules/
base-app/package-lock.json
base-app/package.json

dist/
base-app/dist/
build/

# ===========================
# 🖥️ SISTEMA OPERACIONAL
# ===========================
.DS_Store
Thumbs.db